.sym-provider {
  --sym-aio-msg-bubble-background: var(--tg-theme-secondary-bg-color);
  --sym-aio-avatar-background: var(--tg-theme-secondary-bg-color);

  --sym-aio-msg-bubble-radius-s: 4px;
  --sym-aio-msg-bubble-radius-l: 8px;
}
