.outerContainer {
  position: relative;
  display: inline-block;
}

.innerContainer {
  padding: 8px 8px 8px 0;
}

.moreTip {
  &OuterContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 80px;

    background: linear-gradient(to bottom, #00000000, #f6f6f7f0 50%, #f6f6f7);
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(to bottom, #00000000, hsl(350, 100%, 95%));
  }

  &Content {
    margin: 0 12px;
    color: #00000070;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;

    &Icon {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }

    &Container {
      position: absolute;

      bottom: 8px;
      left: 0;
      right: 0;
    }
  }
}

.frImg {
  max-width: 40vw;
}
