.bottomFix {
  margin-bottom: 2px;
}

$headerHeight: 48px;

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
  backdrop-filter: blur(12px) saturate(160%);
}

.overlayPlaceholderTop {
  height: $headerHeight;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.msgList {
  margin: 12px;
}

.backBtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &Icon {
    height: 24px;
    width: 24px;
  }
}
