.bottomFix {
  margin-bottom: 2px;
}

.headerContainer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.msgList {
  margin: 12px;
}
